/* colors */

:root {
    /* light mode */

    --lm-bg: #5f9bad;
    --lm-screen-color: #579c94;
    --lm-screen-font: #37635e;
    --lm-calc-bg: #a33a33;
    --lm-calc-btn-bg: #b57541;
    --lm-calc-btn-font: #a33a33;
}

/* overarching */

* {
    font-family: "Pixelify Sans";
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--lm-bg);
    padding: 30px;
}

#calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);

    width: 700px;
    height: 1000px;
    border: 5px solid black;
    border-radius: 30px;
    padding: 10px;
    gap: 10px;
    background-color: var(--lm-calc-bg);
}

/* multiples and colors */

#decimal, .operator, .num, .others {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn, #screen-display {
    border: 3px solid black;
}

.btn {
    background-color: var(--lm-calc-btn-bg);
    color: var(--lm-calc-btn-font);
}

#solution, #problem {
    padding: 0;
}

/* screen */

#screen-display {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    border-radius: 20px;
    background-color: var(--lm-screen-color);
    color: var(--lm-screen-font);
    padding: 10px;
    text-align: right;
}

#problem {
    font-size: 40px;
    max-height: 40%;
    height: 40%;
}

#solution {
    font-size: 60px;
    max-height: 60%;
    height: 60%;
}

/* clear */

#clear {
    grid-column: 1 / span 1;
    border-radius: 20px 0px 0px 0px;
}

/* pos and neg */

#posneg {
    grid-column: 2 / span 1;
}

/* delete */

#delete {
    grid-column: 3 / span 1;
}

/* devide */

#divide {
    grid-column: 4 / span 1;
    border-radius: 0px 20px 0px 0px;
}

/* seven */

#seven {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
}

/* eight */

#eight {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
}

/* nine */

#nine {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
}

/* multiply */

#multiply {
    grid-row: 4 / span 1;
    grid-column: 4 / span 1;
}

/* four */

#four {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
}

/* five */

#five {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
}

/* six */

#six {
    grid-row: 5 / span 1;
    grid-column: 3 / span 1;
}

/* minus */

#minus {
    grid-row: 6 / span 1;
    grid-column: 4 / span 1;
}

/* one */

#one {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
}

/* two */

#two {
    grid-row: 6 / span 1;
    grid-column: 2 / span 1;
}

/* three */

#three {
    grid-row: 6 / span 1;
    grid-column: 3 / span 1;
}

/* plus */

#plus {
    grid-row: 5 / span 1;
    grid-column: 4 / span 1;
}

/* zero */

#zero {
    grid-row: 7 / span 1;
    grid-column: 1 / span 2;
    border-radius: 0px 0px 0px 20px;
}

/* decimial */

#decimal {
    grid-row: 7 / span 1;
    grid-column: 3 / span 1;
}

/* equals */

#equals {
    grid-row: 7 / span 1;
    grid-column:  4 / span 1;
    border-radius: 0px 0px 20px 0px;
}