/* colors */

:root {
    /* light mode */

    --lm-bg: #5f9bad;
    --lm-screen-color: #579c94;
    --lm-screen-font: #37635e;
    --lm-calc-bg: #a33a33;
    --lm-calc-btn-bg: #b57541;
    --lm-calc-btn-font: #a33a33;
}

/* overarching */

* {
    font-family: "Pixelify Sans";
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--lm-bg);
    padding: 30px;
}

#calc {
    display: grid;
    grid-template-areas: 
        'screen screen screen screen'
        'screen screen screen screen'
        'clear posneg percent divide'
        'seven eight nine multi'
        'four five six minus'
        'one two three plus'
        'zero zero decimal equals'
    ;

    width: 700px;
    height: 1000px;
    border: 5px solid black;
    border-radius: 30px;
    padding: 10px;
    gap: 10px;
    background-color: var(--lm-calc-bg);
}

/* multiples and colors */

#decimal, .operator, .num, .others {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn, #screen-display {
    border: 3px solid black;
}

.btn {
    background-color: var(--lm-calc-btn-bg);
    color: var(--lm-calc-btn-font);
}

/* screen */

#screen-display {
    grid-area: screen;
    border-radius: 20px;
    background-color: var(--lm-screen-color);
    color: var(--lm-screen-font);
    padding: 10px;
}

#problem {
    font-size: 40px;
}

#solution {
    font-size: 60px;
}

/* clear */

#clear {
    grid-area: clear;
    border-radius: 20px 0px 0px 0px;
}

/* pos and neg */

#posneg {
    grid-area: posneg;
}

/* percent */

#percent {
    grid-area: percent;
}

/* devide */

#divide {
    grid-area: divide;
    border-radius: 0px 20px 0px 0px;
}

/* seven */

#seven {
    grid-area: seven;
}

/* eight */

#eight {
    grid-area: eight;
}

/* nine */

#nine {
    grid-area: nine;
}

/* multiply */

#multiply {
    grid-area: multi;
}

/* four */

#four {
    grid-area: four;
}

/* five */

#five {
    grid-area: five;
}

/* six */

#six {
    grid-area: six;
}

/* minus */

#minus {
    grid-area: minus;
}

/* one */

#one {
    grid-area: one;
}

/* two */

#two {
    grid-area: two;
}

/* three */

#three {
    grid-area: three;
}

/* plus */

#plus {
    grid-area: plus;
}

/* zero */

#zero {
    grid-area: zero;
    border-radius: 0px 0px 0px 20px;
}

/* decimial */

#decimal {
    grid-area: decimal;
}

/* equals */

#equals {
    grid-area: equals;
    border-radius: 0px 0px 20px 0px;
}